{%extends 'users/userbase.html'%}
{%load static%}
{%block contents%}
<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6">

			</div>
			<div class="col-md-12">
				<div class="block">
					<h2>Available Dataset for Predect test</h2>
                    <table bgcolor="GREEN" border="2px">
                        <tr>
                            <th>S.No</th>
                            <th>Dataset</th>
                            <th>Predict Test Start</th>
                        </tr>
                        {% for key,value in dict.items %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{value}}</td>
                            <td><a href="{% url 'UserPredictTestProcess' value%}">Start Test</a> </td>
                        </tr>

                        {%endfor%}

                        </table>

				</div>
			</div>
		</div>
	</div>
</section>

{%endblock%}