{%extends 'users/userbase.html'%}
{%load static%}
{%block contents%}
<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="video-player">
					<img class="img-fluid rounded" src="{%static 'images/slider/slider-bg-2.jpg'%}" alt="">
					<a class="play-icon" href="javascript:void(0)">
						<!--<i class="tf-ion-ios-play"  data-video="https://www.youtube.com/embed/g3-VxLQO7do?autoplay=1"></i>-->
                        <h3>Welcome to user page now start Trading</h3>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="block">
					<h2>Cryptocurrency Price Analysis With Artificial Intelligence</h2>
					<p>Cryptocurrency is playing an increasingly important role in reshaping the financial system due to its growing popular appeal and mechant acceptance. While many people are making investments in Cryptocurrency, the dynamical features, uncertainty, the predictability of Cryptocurrency are still mostly unknown, which dramatically risk the investments</p>

				</div>
			</div>
		</div>
	</div>
</section>

{%endblock%}